We will import a dataset of IPv4 IP Addresses and seperate the Addresses as x, y and z octets

In [27]:
import csv
import pandas as pd

def separate_ip_addresses(input_file, output_file):

  with open(input_file, 'r') as infile, open(output_file, 'w', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    # Read the header row (here), which is the IP Addresses
    header = next(reader)
    writer.writerow(header + ['x', 'y', 'z', 'extra'])

    for row in reader:
      ip_address = row[0]  # Assuming the IP address is in the first column

      # Split the IP address into octets
      octets = ip_address.split(".")

      # Check if the IP address is valid (has 4 octets)
      if len(octets) != 4:
        print(f"Invalid IP address: {ip_address}")
        continue

      # Convert octets to integers and write them to a new row
      writer.writerow(row + [int(octet) for octet in octets])

if __name__ == "__main__":
  input_file = "dataset_ip_addresses.csv"  # input file name
  output_file = "separated_ips.csv"  # output file name to be created
    
  separate_ip_addresses(input_file, output_file)
    
  print("Successfully separated IP addresses!")

Successfully separated IP addresses!

Now, we remove any empty values or Nan values in our dataset

In [35]:
# Read the seperated.csv file into a dataframe df_new
df_new = pd.read_csv("separated_ips.csv")

# Drop rows with all NaN values (empty rows)
df = df.dropna(how="all")

# Save the filtered DataFrame to a new CSV file 'df'
df.to_csv("filtered_data.csv", index=False)

In [36]:
df

         IP Address      x      y      z  extra
0    152.174.74.159  152.0  174.0   74.0  159.0
1    176.41.145.221  176.0   41.0  145.0  221.0
2    205.33.230.180  205.0   33.0  230.0  180.0
3     34.74.173.159   34.0   74.0  173.0  159.0
4   244.125.152.220  244.0  125.0  152.0  220.0
..              ...    ...    ...    ...    ...
95  102.255.148.139  102.0  255.0  148.0  139.0
96      2.224.27.40    2.0  224.0   27.0   40.0
97   246.198.81.102  246.0  198.0   81.0  102.0
98   20.158.102.161   20.0  158.0  102.0  161.0
99       4.41.97.14    4.0   41.0   97.0   14.0

[100 rows x 5 columns]